<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>Welcome in an employment helper system</title>
</head>

<body>
	<ul id="menu-bar">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="#">Employers zone</a>
			<ul>
				<li><a href="/employersManager">List of all employers</a></li>
				<li><a href="/addNewEmployer">Add new employer</a></li>
				<li><a href="/employersRest">employers Rest</a>
			</ul></li>
		<li><a href="#">Employees zone</a>
			<ul>
				<li><a href="/employeesManager">List of all employees</a></li>
				<li><a href="/addNewEmployee">Add new employee</a></li>
				<li><a href="/employeesRest">Employees rest</a></li>
			</ul></li>
	</ul>
	<br>
	<br>
	<br>
</body>
</html>